stages:
  - sync

sync_to_github:
  stage: sync
  script:
    - git remote remove github || true
    - git remote add github https://$CI_PROJECT_NAMESPACE:$GITHUB_TOKEN@github.com/empty-labs/credit-card-rewards.git
    - git push github HEAD:refs/heads/$CI_COMMIT_REF_NAME --force
    - git push github --tags --force
  only:
    - main
